.login-box {
  width: 400px;
  border: 1px solid #dcdfe6;
  border-radius: 5px;
  position: absolute;
  left: 50%;
  top: 20%;
  margin-left: -200px;
  background: #ffffff;

  h2 {
    height: 50px;
    line-height: 50px;
    font-size: 18px;
    text-align: center;
    border-bottom: 1px solid #dcdfe6;
    background: #409eff;
    color: #ffffff;
  }

  .login-form {
    padding: 0 20px;
  }

  .login-btn {
    width: 100%;
  }
}
