<Layout>
    <div class="container">
        <section class="base-info mt20">
            <el-row>
                <el-col :span="16" style="padding:10px;">
                    <span>绑定状态：</span>
                    <el-radio-group v-model="bindRadio">
                        <el-radio :label="1">全部</el-radio>
                        <el-radio :label="2">已绑定</el-radio>
                        <el-radio :label="0">未绑定</el-radio>
                    </el-radio-group>
                </el-col>
                <el-col :span="8">
                    <el-row :gutter="20">
                        <el-col :span='5'>
                            <el-select v-model="queryType" placeholder="请选择">
                                <el-option v-for="item in queryOptions" :key="item.value" :label="item.label" :value="item.value">
                                </el-option>
                            </el-select>
                        </el-col>
                        <el-col :span='10'>
                            <el-input v-model="queryName" placeholder="请输入内容"></el-input>
                        </el-col>
                        <el-col :span="2">
                            <el-button type="primary" @click="getUserList">搜索</el-button>
                        </el-col>
                    </el-row>
                </el-col>
            </el-row>
        </section>
        <section class='mt20'>
            <el-table border highlight-current-row :row-class-name="tableCenter" :header-row-class-name="tableCenter" :data="userList">
                <el-table-column label="微信号" prop="user_wx"></el-table-column>
                <el-table-column label="绑定状态" prop="user_sattus"></el-table-column>
                <el-table-column label="手机号" prop="user_phone"></el-table-column>
                <el-table-column label="用户姓名" prop="user_name"></el-table-column>
                <el-table-column label="获得总工时" prop="user_total_time"></el-table-column>
                <el-table-column label="添加时间" prop="user_boundtime"></el-table-column>
                <el-table-column label="绑定时间" prop="user_boundtime"></el-table-column>
                <el-table-column label="操作">
                    <template slot-scope="scope">
                        <a href="#">
                            <router-link :to="{name: 'acctivityDetail', params: {id: scope.row.activity_id}}">
                                {{scope.row.activity_name}}
                            </router-link>
                        </a>
                    </template>
                </el-table-column>
            </el-table>
            <div class="block">
                <el-pagination layout="prev, pager, next,totel" :total="1000"></el-pagination>
            </div>
        </section>
    </div>
</Layout>