.header {
    background: #409eff;
    color: #ffffff;
    font-size: 20px;
    line-height: 60px;
    display: flex;
    justify-content: space-between;
    .el-dropdown-link {
        color: #ffffff;
        cursor: pointer;
    }
}

.el-aside {
    background: #ffffff;
    border-right: solid 1px #e6e6e6;
    .el-menu {
        border-right: 0;
    }
}

.el-breadcrumb {
    padding-bottom: 5px;
    border-bottom: 1px solid #e6e6e6;
    margin-bottom: 10px;
}